html{
    background-color: black;
    overflow: hidden;
    background-image: url('music background.jpeg');
  background-size: cover; /* This ensures that the background image covers the entire viewport */
  background-position: center; /* This centers the background image */
  opacity: 1; /* Initially fully visible */
  transition: opacity 0.5s ease;
}

h1{
    font-family: "condor-compressed", sans-serif;
    font-size: 15rem;
    cursor: pointer;
}


a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
a:hover {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}
